

<body>
  <header>
    <h1> This Jockey's Horses </h1>
  </header
  <% @jockey.horses.each do |horse| %>
    <h3><a href="/horses/<%= horse.id %>"><%= horse.name %></a></h3>
    <p><%= horse.age %></p>
    <p><%= horse.total_winnings %></p>
    <p><%= horse.breed_id %></p>

  <% end %>
</body>
